* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: sans-serif;
}

body {
    width: 60%;
    margin: auto;
}

h1 {
    font-size: 45px;
    font-weight: 400;
    color: black;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    color: black;
}

h5 {
    font-size: 25px;
    font-weight: 400;
    color: black;
}

p {
    color: lightgrey;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}


/* navi */

.contact {
    display: flex;
    align-items: center;
    height: 100px;
}

.icons {
    flex: 1;
    text-align: right;
}

.icons a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}