* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    color: black;
}

h2 {
    font-size: 35px;
    font-weight: 400;
    color: black;
}

h3 {
    font-size: 20px;
    font-weight: 200;
    color: #383838;
}

h4 {
    font-size: 17px;
    font-weight: 600;
    color: black;
}

h5 {
    font-size: 15px;
    font-weight: 400;
    color: black;
}

p {
    color: #414141;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

/* nav bar */

.navbar {
    background: #ba00ff;
}

.nav-link, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #f97300;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* header */

.header {
    background-image: url("assets/header1.gif");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.5);
}

/* info */

.info {
    height: 100vh;
    position: relative;
}

.info_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

ul {
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
}

.info_left {
    margin-top: 4em;
}

.headshot {
    margin-top: 30px;
}

.scroll {
    display: inline-block;
    margin-top: 10em;
    margin-left: 50%;
}

.res_img {
    width: 100%;
    height: auto;
}
