* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 60%;
    margin: auto;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    color: black;
}

h2 {
    font-size: 35px;
    font-weight: 400;
    color: black;
}

h3 {
    font-size: 20px;
    font-weight: 200;
    color: #383838;
}

h4 {
    font-size: 17px;
    font-weight: 600;
    color: black;
}

h5 {
    font-size: 15px;
    font-weight: 400;
    color: black;
}

p {
    color: #414141;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
}


/* contact buttons */

.contact {
    display: flex;
    align-items: center;
    height: 100px;
}

.icons {
    flex: 1;
    text-align: right;
}

.icons a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}


/* info */

.info {
    height: 100vh;
    position: relative;
}

.info_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

ul {
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
}

.info_left {
    margin-top: 4em;
}

.headshot {
    margin-top: 30px;
}

.scroll {
    display: inline-block;
    margin-top: 10em;
    margin-left: 50%;
}

.res_img {
    width: 100%;
    height: auto;
}

/* python */

.python {
    text-align: center;
    margin-bottom: 20em;
}

.python p {
    padding: 5px;
}

.py_img {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 50;
    margin: 0 15px;
}

.py_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.repo {
    padding-top: 30px;
    align-content: space-between;
    margin: 30px;
    width: 20vw;
    margin: auto;
}

.py_button {
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.py_button img {
    padding: 0;
    margin-top: 5px;
}

.py_button:hover {
    box-shadow: 0 12px 16px 6px rgba(0, 0, 0, 0.2);
}

.gitimg {
    padding-right: 20px;
}

/* wabiyo */

.wabiyo {
    width: 100%;
    position: relative;
    margin-bottom: 20em;
    display: table;
}

.wabiyo > .wab_text > .underline {
    display: block;
    background-color: #027bff;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}

.container {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    float: right;
}

.desk_img {
    padding-right: 30px;
}

.wabiyo ul {
    position: absolute;
    top: 60px;
}

.wabiyo ul li {
    margin-top: 20px;
}

.desc {
    clear: both;
    text-align: center;
    padding: 0.5em;
    border: 3px;
}

.desc h4 {
    padding-top: 5px;
    text-align: left;
}


/* experience */

.experience {
    width: 100%;
    position: relative;
    margin-bottom: 20em;
    display: table;
}

.experience > .experience_text > .underline {
    display: block;
    background-color: #027bff;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}

.experience_text img {
    position: absolute;
    right: 0;
    top: 0;
}

.mentor_img {
    float: right;
}

.desk_img {
    padding-right: 30px;
}

/* other projects */

.projects {
    text-align: center;
    margin-bottom: 20em;
}

.projects p {
    margin-bottom: 30px;
    padding: 5px;
}

.projects img {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 120px;
    width: auto;
    margin: 0 15px;
}

.proj_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    clear: both;
}

.proj {
    margin: 30px;
    flex: 1;
}

.button {
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.button img {
    padding: 0;
    margin-top: 5px;
    width: 25px;
    height: auto;
}

.button p {
    text-align: center;
    vertical-align: middle;
}

.button:hover {
    box-shadow: 0 12px 16px 3px rgba(0, 0, 0, 0.2);
}

/* footer */

.footer {
    padding-bottom: 7em;
    text-align: center;
}

.footer a {
    color: #414141;
    text-decoration: none;
}

.footer_underline {
    display: block;
    height: 3px;
    width: 41px;
    margin: 5px auto 0 auto;
    background-color: lightgray;
}
